In [9]:
import numpy as np
import pyarrow as pa
import pandas as pd
import scipy as sp
import matplotlib as plt
import seaborn as sns
import plotly as px
import sklearn as sk
import torch, torchvision, torchaudio

In [10]:
df = pd.read_csv("./data/performance.csv", encoding='cp949')

In [11]:
df

,GENDER,TEAM,EDUCATION,TRAINING,ACHIEVEMENT,ABILITY,ATTITUDE
0,female,B,bachelor's degree,none,72,72,74
1,female,C,some college,completed,69,90,88
2,female,B,master's degree,none,90,95,93
3,male,A,associate's degree,none,47,57,44
4,male,C,some college,none,76,78,75
...,...,...,...,...,...,...,...
995,female,E,master's degree,completed,88,99,95
996,male,C,high school,none,62,55,55
997,female,C,high school,completed,59,71,65
998,female,D,some college,completed,68,78,77
999,female,D,some college,none,77,86,86

In [12]:
df["GENDER"]

0      female
1      female
2      female
3        male
4        male
        ...
995    female
996      male
997    female
998    female
999    female
Name: GENDER, Length: 1000, dtype: object

In [13]:
res = 0
for i in range(1, num):
    res = res + i

In [14]:
res

55

In [15]:
res = 0
for i in range(1, 100):
    res = res + i
print(res)

4950

In [16]:
res = 0
for i in range(12, 21):
    res = res + i
print(res)

144

In [18]:
res = 1
for i in range(1, 11):
    res = res * i
print(res)

3628800

In [19]:
def factorial(n):
    res = 1
    for i in range(1, n+1):
        res *= i
    return res

In [24]:
factorial(5)

120

In [25]:
def combination(n, x):
    res = factorial(n)/(factorial(x)*factorial(n-x))
    return res

In [27]:
combination(4, 2)

6.0

In [35]:
n = 1000000
e = (1 + (1/n))**n
print(e)

2.7182804690957534