In [1]:
import numpy as np
import pandas as pd
import scipy as sp
df = pd.read_csv('../data/performance.csv', encoding='cp949')

In [2]:
df.head(3)

   GENDER TEAM          EDUCATION   TRAINING  ACHIEVEMENT  ABILITY  ATTITUDE
0  female    B  bachelor's degree       none           72       72        74
1  female    C       some college  completed           69       90        88
2  female    B    master's degree       none           90       95        93

In [3]:
df['TEAM'].unique()

array(['B', 'C', 'A', 'D', 'E'], dtype=object)

In [5]:
df_a = df[df['TEAM']=='A']
df_b = df[df['TEAM']=='B']
df_c = df[df['TEAM']=='C']
df_d = df[df['TEAM']=='D']
df_e = df[df['TEAM']=='E']

In [7]:
df_a_ach = df_a['ACHIEVEMENT']
df_b_ach = df_b['ACHIEVEMENT']
df_c_ach = df_c['ACHIEVEMENT']
df_d_ach = df_d['ACHIEVEMENT']
df_e_ach = df_e['ACHIEVEMENT']

In [13]:
df_a_ach

3      47
13     78
14     50
25     73
46     55
       ..
974    54
983    78
985    57
988    44
994    63
Name: ACHIEVEMENT, Length: 89, dtype: int64

In [9]:
df_a_mean = np.mean(df_a_ach)
print(df_a_mean)

61.62921348314607

In [10]:
df_b_mean = np.mean(df_b_ach)
print(df_b_mean)

63.45263157894737

In [11]:
test_stat, p = sp.stats.shapiro(df_a_ach)
print("검정통계량: {}, p-value: {}".format(test_stat, p))

검정통계량: 0.9917360440600248, p-value: 0.8545319451007725

In [12]:
test_stat, p = sp.stats.shapiro(df_b_ach)
print("검정통계량: {}, p-value: {}".format(test_stat, p))

검정통계량: 0.9808056990812756, p-value: 0.010389426534438832

In [14]:
df_a_var = np.var(df_a_ach)
print(df_a_var)

208.5479106173464

In [16]:
df_b_var = np.var(df_b_ach)
print(df_b_var)

238.0056509695291

In [17]:
n1 = len(df_a_ach)
print(n1)

89

In [18]:
n2 = len(df_b_ach)
print(n2)

190

In [22]:
s = ((df_a_var/n1)+(df_b_var/n2))**0.5
print(s)

1.8962848603648557

In [24]:
z_value = (df_b_mean - df_a_mean)/s
print(z_value)

0.9615739353898894

In [25]:
z_dist = sp.stats.norm(0, 1)
p_value = 1 - z_dist.cdf(z_value)
print(p_value)

0.16813183477339477

In [30]:
test_stat, p = sp.stats.ttest_ind(df_b_ach, df_a_ach, alternative='greater')
print("검정통계량: {}, p-value: {}".format(test_stat, p))

검정통계량: 0.9355076279747488, p-value: 0.17517079808299785

In [35]:
print('H0: 팀C의 평균 성과 점수와 팀A의 평균 성과 점수는 차이가 없다')
print('H1: 팀C의 평균 성과 점수는 팀A의 평균 성과 점수보다 크다')

H0: 팀C의 평균 성과 점수와 팀A의 평균 성과 점수는 차이가 없다
H1: 팀C의 평균 성과 점수는 팀A의 평균 성과 점수보다 크다

In [36]:
df_c_mean = np.mean(df_c_ach)
df_c_var = np.var(df_c_ach)
test_stat, p = sp.stats.shapiro(df_c_ach)
print(test_stat, p)

0.9891068965131897 0.017414767041862515

In [37]:
test_stat, p = sp.stats.ttest_ind(df_c_ach, df_a_ach, alternative='greater')
print(test_stat, p)

1.5997220303217299 0.05521905372794021