In [1]:
import numpy as np
import pandas as pd
import scipy as sp
df = pd.read_csv('../data/performance.csv', encoding='cp949')

In [2]:
df

,GENDER,TEAM,EDUCATION,TRAINING,ACHIEVEMENT,ABILITY,ATTITUDE
0,female,B,bachelor's degree,none,72,72,74
1,female,C,some college,completed,69,90,88
2,female,B,master's degree,none,90,95,93
3,male,A,associate's degree,none,47,57,44
4,male,C,some college,none,76,78,75
...,...,...,...,...,...,...,...
995,female,E,master's degree,completed,88,99,95
996,male,C,high school,none,62,55,55
997,female,C,high school,completed,59,71,65
998,female,D,some college,completed,68,78,77
999,female,D,some college,none,77,86,86

In [34]:
a = df[df['TEAM']=='A']['ACHIEVEMENT']
b = df[df['TEAM']=='B']['ACHIEVEMENT']
c = df[df['TEAM']=='C']['ACHIEVEMENT']
d = df[df['TEAM']=='D']['ACHIEVEMENT']
e = df[df['TEAM']=='E']['ACHIEVEMENT']

In [6]:
a

3      47
13     78
14     50
25     73
46     55
       ..
974    54
983    78
985    57
988    44
994    63
Name: ACHIEVEMENT, Length: 89, dtype: int64

In [7]:
b

0      72
2      90
5      71
6      88
7      40
       ..
969    75
976    60
980     8
982    79
991    65
Name: ACHIEVEMENT, Length: 190, dtype: int64

In [26]:
s, p = sp.stats.shapiro(a)
print(s, p)

0.9917360440600248 0.8545319451007725

In [27]:
s, p = sp.stats.shapiro(b)
print(s, p)

0.9808056990812756 0.010389426534438832

In [9]:
mean_a = np.mean(a)
mean_b = np.mean(b)

In [11]:
print(mean_a, mean_b)

61.62921348314607 63.45263157894737

In [13]:
var_a = np.var(a)
var_b = np.var(b)

In [14]:
print(var_a, var_b)

208.5479106173464 238.0056509695291

In [16]:
l_a = len(a)
l_b = len(b)

In [17]:
print(l_a, l_b)

89 190

In [18]:
z = (mean_b - mean_a) / (var_a/l_a + var_b/l_b)**0.5

In [22]:
print(z)

0.9615739353898894

In [20]:
z_dist = sp.stats.norm(0,1)
p = 1 - z_dist.cdf(z)

In [21]:
print(p)

0.16813183477339477

In [31]:
s, p = sp.stats.ttest_ind(b, a, alternative='greater')

In [33]:
print(f'검정통계량 : {s}, p-value : {p}')

검정통계량 : 0.9355076279747488, p-value : 0.17517079808299785

In [30]:
s, p = sp.stats.ranksums(b, a, alternative='greater')
print(f'검정통계량 : {s}, p-value : {p}')

검정통계량 : 1.35398583683992, p-value : 0.08787044816326

In [36]:
s, p = sp.stats.ranksums(d, c, alternative='greater')
print(f'검정통계량 : {s}, p-value : {p}')

검정통계량 : 2.5864996389996464, p-value : 0.0048478135981361685

In [37]:
s, p = sp.stats.ranksums(e, d, alternative='greater')
print(s, p)

4.250454243201009 1.0666870819004865e-05

In [38]:
s, p = sp.stats.ranksums(e, c, alternative='greater')
print(s, p)

6.064177605749511 6.631526534532667e-10

In [39]:
s, p = sp.stats.ranksums(c, a, alternative='greater')
print(s, p)

1.9131906213930467 0.027861826861397612

In [41]:
s, p = sp.stats.ranksums(d, a, alternative='greater')
print(s, p)

3.551824655126869 0.00019128485560149314

In [42]:
s, p = sp.stats.ranksums(e, a, alternative='greater')
print(s, p)

5.776683346560215 3.809373724405942e-09

In [44]:
s, p = sp.stats.shapiro(a)
print(f'검정통계량 : {s}, p-value : {p}')
s, p = sp.stats.shapiro(b)
print(f'검정통계량 : {s}, p-value : {p}')
s, p = sp.stats.shapiro(c)
print(f'검정통계량 : {s}, p-value : {p}')
s, p = sp.stats.shapiro(d)
print(f'검정통계량 : {s}, p-value : {p}')
s, p = sp.stats.shapiro(e)
print(f'검정통계량 : {s}, p-value : {p}')

검정통계량 : 0.9917360440600248, p-value : 0.8545319451007725
검정통계량 : 0.9808056990812756, p-value : 0.010389426534438832
검정통계량 : 0.9891068965131897, p-value : 0.017414767041862515
검정통계량 : 0.9896670870859058, p-value : 0.05926829323477837
검정통계량 : 0.9770447788984441, p-value : 0.018493716885038675

In [45]:
s, p = sp.stats.bartlett(a, b, c, d, e)
print(f'검정통계량 : {s}, p-value : {p}')

검정통계량 : 4.075678014368108, p-value : 0.39586081869788264

In [46]:
s, p = sp.stats.f_oneway(a, b, c, d, e)
print(f'검정통계량 : {s}, p-value : {p}')

검정통계량 : 14.593885166332635, p-value : 1.3732194030370688e-11

In [47]:
s, p = sp.stats.kruskal(a, b, c, d, e)
print(f'검정통계량 : {s}, p-value : {p}')

검정통계량 : 57.079329705742886, p-value : 1.1906568165839682e-11

In [49]:
s, p = sp.stats.shapiro(a)
print(s, p)
s, p = sp.stats.shapiro(b)
print(s, p)
s, p = sp.stats.shapiro(c)
print(s, p)
s, p = sp.stats.shapiro(d)
print(s, p)
s, p = sp.stats.shapiro(e)
print(s, p)

0.9917360440600248 0.8545319451007725
0.9808056990812756 0.010389426534438832
0.9891068965131897 0.017414767041862515
0.9896670870859058 0.05926829323477837
0.9770447788984441 0.018493716885038675

In [52]:
s, p = sp. stats.bartlett(a, b, c)
print(s, p)
s, p = sp. stats.bartlett(a, c, d)
print(s, p)
s, p = sp. stats.bartlett(a, c, e)
print(s, p)
s, p = sp. stats.bartlett(b, c, d)
print(s, p)

0.6041031299129982 0.7392999419372903
1.6462058743820212 0.4390671408400545
0.5856262401638053 0.7461615702816626
3.1989562681953365 0.20200190840063412

In [55]:
s, p = sp.stats.f_oneway(a, b, c)
print(s, p)
s, p = sp.stats.f_oneway(a, c, d)
print(s, p)
s, p = sp.stats.f_oneway(a, c, e)
print(s, p)
s, p = sp.stats.f_oneway(b, c, d)
print(s, p)

1.2865292354788134 0.2769951028770473
6.111872305340446 0.0023424853304506266
24.36743291060134 7.312674797189767e-11
4.607985686702369 0.010249185205640596

In [57]:
s, p = sp.stats.kruskal(a, b, c)
print(s, p)
s, p = sp.stats.kruskal(a, c, d)
print(s, p)
s, p = sp.stats.kruskal(a, c, e)
print(s, p)
s, p = sp.stats.kruskal(b, c, d)
print(s, p)

3.698400045333953 0.15736300280904847
14.658252760184663 0.0006561465595059478
47.49410168205372 4.861685468012949e-11
9.843475073231495 0.0072864593514606795

In [58]:
df['C_OR_NOT'] = np.where(df['TEAM']=='C', 'C', 'not_C')

In [59]:
df.head()

,GENDER,TEAM,EDUCATION,TRAINING,ACHIEVEMENT,ABILITY,ATTITUDE,C_OR_NOT
0,female,B,bachelor's degree,none,72,72,74,not_C
1,female,C,some college,completed,69,90,88,C
2,female,B,master's degree,none,90,95,93,not_C
3,male,A,associate's degree,none,47,57,44,not_C
4,male,C,some college,none,76,78,75,C

In [60]:
df['TRAINING'].unique()

array(['none', 'completed'], dtype=object)

In [61]:
df['C_OR_NOT'].unique()

array(['not_C', 'C'], dtype=object)

In [62]:
obs = pd.crosstab(df['C_OR_NOT'], df['TRAINING'])
obs

TRAINING  completed  none
C_OR_NOT
C               117   202
not_C           241   440

In [63]:
chi2, p, d, expected = sp.stats.chi2_contingency(obs)
print("H0 : 팀C 여부와 사내 교육 수강 여부는 연관성이 없다.")
print("H1 : 팀C 여부와 사내 교육 수강 여부는 연관성이 있다.")
print('검정통계량 : ', chi2)
print('p-value : ', p)
print('결론 : H0 채택, 팀C 여부와 사내 교육 수강 여부는 연관성이 없다.')

H0 : 팀C 여부와 사내 교육 수강 여부는 연관성이 없다.
H1 : 팀C 여부와 사내 교육 수강 여부는 연관성이 있다.
검정통계량 :  0.10576554193252763
p-value :  0.745017489209715
결론 : H0 채택, 팀C 여부와 사내 교육 수강 여부는 연관성이 없다.

In [68]:
obs1 = pd.crosstab(df['GENDER'], df['TEAM'])

In [69]:
obs2 = pd.crosstab(df['GENDER'], df['EDUCATION'])

In [70]:
obs3 = pd.crosstab(df['TEAM'], df['TRAINING'])

In [71]:
obs4 = pd.crosstab(df['EDUCATION'], df['TRAINING'])

In [77]:
s, p, d, e = sp.stats.chi2_contingency(obs1)
print('H0 : GENDER와 TEAM은 연관성이 없다.')
print('H1 : GENDER와 TEAM은 연관성이 있다.')
print(f"검정통계량 : {s}, p-value : {p}")
print('H0 채택, GENDER와 TEAM은 연관성이 없다.')
print()
s, p, d, e = sp.stats.chi2_contingency(obs2)
print('H0 : GENDER와 EDUCATION은 연관성이 없다.')
print('H1 : GENDER와 EDUCATION은 연관성이 있다.')
print(f"검정통계량 : {s}, p-value : {p}")
print('H0 채택, GENDER와 EDUCATION은 연관성이 없다.')
print()
s, p, d, e = sp.stats.chi2_contingency(obs3)
print('H0 : TEAM와 TRAINING은 연관성이 없다.')
print('H1 : TEAM와 TRAINING은 연관성이 있다.')
print(f"검정통계량 : {s}, p-value : {p}")
print('H0 채택, TEAM와 TRAINING은 연관성이 없다.')
print()
s, p, d, e = sp.stats.chi2_contingency(obs4)
print('H0 : EDUCATION와 TRAINING은 연관성이 없다.')
print('H1 : EDUCATION와 TRAINING은 연관성이 있다.')
print(f"검정통계량 : {s}, p-value : {p}")
print('H0 채택, EDUCATION와 TRAINING은 연관성이 없다.')

H0 : GENDER와 TEAM은 연관성이 없다.
H1 : GENDER와 TEAM은 연관성이 있다.
검정통계량 : 9.02738626908596, p-value : 0.06041858784847785
H0 채택, GENDER와 TEAM은 연관성이 없다.

H0 : GENDER와 EDUCATION은 연관성이 없다.
H1 : GENDER와 EDUCATION은 연관성이 있다.
검정통계량 : 3.384904766004173, p-value : 0.6408699721807456
H0 채택, GENDER와 EDUCATION은 연관성이 없다.

H0 : TEAM와 TRAINING은 연관성이 없다.
H1 : TEAM와 TRAINING은 연관성이 있다.
검정통계량 : 5.4875148857070695, p-value : 0.24082911295018397
H0 채택, TEAM와 TRAINING은 연관성이 없다.

H0 : EDUCATION와 TRAINING은 연관성이 없다.
H1 : EDUCATION와 TRAINING은 연관성이 있다.
검정통계량 : 9.54407054307069, p-value : 0.08923388625809343
H0 채택, EDUCATION와 TRAINING은 연관성이 없다.